<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="logouter">

      <ion-content>
        <div class="menu-header-bg">

        </div>

        <div class="header-content">
          <img src="../assets/img/avatar.jpg" alt="">
          <ion-label>
            <h2>Cristian Heleno</h2>
            <p>Programador FullStack</p>
          </ion-label>
        </div>

        <ion-list lines="none" class="menu-items">
          <ion-item>
            <ion-icon name="pie-chart-outline"></ion-icon> Analise de entregas
          </ion-item>
          <ion-item>
            <ion-icon name="browsers-outline"></ion-icon> Minhas entregas
          </ion-item>
          <ion-item>
            <ion-icon name="flash"></ion-icon> Entregas ativas
          </ion-item>
          <ion-item>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon> Fale conosco
          </ion-item>
          <ion-item (click)="logout()">
            <ion-icon name="exit-outline"></ion-icon> Logout
          </ion-item>
        </ion-list>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
